[package]
name = "jnix"
version = "0.1.0"
authors = ["Mullvad VPN <admin@mullvad.net>"]
readme = "README.md"
keywords = ["ffi", "java", "jni"]
categories = ["external-ffi-bindings"]
repository = "https://github.com/mullvad/jnix"
edition = "2018"

[features]
derive = ["jnix-macros"]

[dependencies]
jni = "0.14"
jnix-macros = { version = "0.1.0", optional = true, path = "jnix-macros" }
once_cell = "1"
parking_lot = "0.9"
